*{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: #FFA500;
    overflow-x: hidden;
}

/*-----------------------------------------nav bar-----------------------------------*/
nav {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    padding: 0;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

li {
    flex: 1;
    overflow-x: visible;
}

li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    height: 160px;
}

li a:hover {
    background: #FFA500;
}

.logo {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    text-align: left;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        flex: auto;
    }

    li a {
        height: auto;
        padding: 10px;
    }
}


.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    padding: 10px;
    z-index: 9999;
    margin: 0;
}


/* ------------------top section lala---------------------*/
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.general-info {
    text-align: center;
    padding: 20px;
    background: #000000;
    border-radius: 10px;
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 26px;
    max-width: 509px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 60px;
}

.learn-more-button {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    color: black;
    width: 100%;
    max-width: 509px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.learn-more-button:active {
    font-size: 20px;
    color: #FFA500;
    border: 2px solid black;
    font-weight: 600;
}

.map-image {
    width: 60%;
    max-height: 387px;
    max-width: 620px;
    border-radius:
        15px;
    margin-right: 13%;
}


@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .learn-more-button {
        width: 90%;
    }

    .text {
        width: 100%;
    }

    .map-image {
        width: 100%;
        max-width: 90%;
        border-radius: 15px;
        margin-right: 0;
        margin-top: 30px;
    }
}





/*---------------------------post card section------------------------------------*/

.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
    margin-top: 80px;
}

.post-card p a.explorebutton {
    text-decoration: none;
}

.post-card {
    text-align: center;
    width: 373px;
    height: 400px;
    background-color: #f2f2f2;
    margin: 10px 10px 10px 0;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.post-card img {
    width: 99%;
    height: calc(100% - 94px);
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.post-card p {
    margin: 0;
    font-size: 30px;
    max-height: 94px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Orelega One', serif;
    border-radius: 0 0 30px 30px;
}



.explorebutton {
    background-color: black;
}

/*------------------------------lower content-------------------*/

.containerlowercontent {
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 600px;
    margin: 80px auto;
    overflow-x: visible;
}

.iconlowercontent {
    max-width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.textlowercontent {
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Orelega One', serif;
    font-size: 26px;
    min-width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .containerlowercontent {
        flex-direction: column;
        align-items: center;
    }

    .iconlowercontent {
        max-width: 100%;
        margin: 0 auto 20px;
    }

    .textlowercontent {
        text-align: center;
        padding: 10px;
        font-size: 18px;
    }
}



/*--------------------Footer---------------------*/



footer {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 62px;
}

.contact-link,
.homepage-link {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    text-align: center;
    display: block;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    overflow-x: visible;
}

.logo {
    max-width: 160px;
    height: auto;
    margin: 10px;
}

.copyright {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 768px) {
    .footer-content {
        margin-left: 0;

        width: 100%;
    }

    .contact-link,
    .homepage-link {
        margin: 10px 20px;
    }

    .social-icon {
        margin: 0 20px;
        max-width: 10px;
    }

    .logo {
        max-width: 100px;
    }

    .imagesocialicon {
        max-width: 25px;

    }

    .copyright {
        min-width: 100%;
        font-size: 13px;
    }
}